*{

    box-sizing: border-box;
   }
    
 
body{
  margin:0;
    background-color: beige;
    font-family: sans-serif;
}
.caja{
    max-width: 400px;

    margin:40px auto;
    padding:50px;
}

.caja .ratting .fa{
    font-size:60px;
}

.fa{
color:green;

}
